@import "tailwindcss";

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

/* Define Iran Sans font faces */
@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('/fonts/IRANSansX-Medium.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-Regular.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'IranSansX';
  src: url('/fonts/IRANSansX-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

body {
  font-family: 'IranSansX', sans-serif;
  font-feature-settings: "ss01";
  
}

.hero-bg {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #AFA7FF 11%,
    #000000 32%,
    #000000 35%,
    #1A1D28 54%,
    #545B80 96%,
    #252525 100%
  );
}



